html {
  height: 100%;
}

body {
  height: 100%;
  background: #4c88ef;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4c88ef), color-stop(100%, #17e4d9));
  background: -webkit-linear-gradient(-45deg, #4c88ef 0%, #17e4d9 100%);
  background: -webkit-linear-gradient(315deg, #4c88ef 0%, #17e4d9 100%);
  background: linear-gradient(135deg, #4c88ef 0%, #17e4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c88ef', endColorstr='#17e4d9', GradientType=1);
}

.jumbotron {
  background: none;
}

.navbar-default {
  background: none;
  border: none;
}

.head {
  margin: 50px 0;
  border-bottom: 1px solid white;
}

.logo {
  width: 40%;
}
